extends layout

block content
 h1= title
 p Welcome to #{title}
 #container-fluid
  .row
   .col(style="width:35%")
   .col
    .card.card-primary(style="width:145px")
     .card-header #[strong Relay Action ]
     .card-body 
      button(class="btn btn-primary" data-gpio="2" data-status="0").gpio-button On 
      | &nbsp;
      button(class="btn btn-primary" data-gpio="2" data-status="1").gpio-button Off
    | &nbsp;
    .card.card-primary(style="max-width:170px")
      .card-header #[strong Flash Message ]
      .card-body 
       a(class="btn btn-primary" href="/indexflash/2/on") Flash Message
   .col(style="width:35%")