extends layout

block content
 .container
  .row
    .col
     h1= title
     p Welcome to #{title}
  .row
   .col-sm
   .col-md-auto
    .row
      .col-sm-auto
        .card
          .card-header #[strong Relay Action ]
          .card-body 
            a(class="btn btn-primary" onclick="changestatus(2,0)") Power On 
            |
            |
            a(class="btn btn-primary" onclick="changestatus(2,1)") Power Off 
            |
            |
            a(class="btn btn-primary" onclick="pcpoweron(2,0)") PC Switch
      .col-sm-auto
        .card
         .card-header #[strong Environmentals]
         .card-body 
          .div
           .span #[strong Temperature:]: div(id="temperature") 
           .span #[strong Humidity:]
            .div(id="humidity")
   .col-sm