extends layout

block content
 .container
  .row
    .col
     h1= title
     p Welcome to #{title}
  .row
   .col(class="col-sm")
   .col(class="col-md-auto")
    .col-sm
      .card.card-primary
        .card-header #[strong Relay Action ]
        .card-body 
          a(class="btn btn-primary" href="/relay/2/0") Power On 
          | &nbsp;
          a(class="btn btn-primary" href="/relay/2/1") Power Off 
    .col-sm
      card.card-primary
       .card-header #[strong Environmentals]
       .card-body 
        p(style='white-space:pre;')
         | #[strong Temperature:] #{temperature}ºC
         | #[strong Humidity:] #{humidity}%
   .col(class="col-sm")