extends layout

block content
 .container
  .row
    .col
     h1= title
     p Welcome to #{title}
  .row
   .col-sm
   .col-md-auto
    .row
      .col-sm-7
        .card
          .card-header #[strong Relay Action ]
          .card-body 
            a(class="btn btn-primary" href="/relay/2/0") Power On 
            |
            |
            a(class="btn btn-primary" href="/relay/2/1") Power Off 
      .col-sm-6
        .card
         .card-header #[strong Environmentals]
         .card-body 
          p(style='white-space:pre;')
           | #[strong Temperature:] #{temperature}ºC
           | #[strong Humidity:] #{humidity}%
   .col-sm